Backend-spring/src/main/resources/reservations.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://example.com/reservations"
            targetNamespace="http://example.com/reservations"
            elementFormDefault="qualified">

  <xsd:complexType name="Client">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:long" minOccurs="0"/>
      <xsd:element name="nom" type="xsd:string"/>
      <xsd:element name="prenom" type="xsd:string"/>
      <xsd:element name="email" type="xsd:string"/>
      <xsd:element name="telephone" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Chambre">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:long"/>
      <xsd:element name="type" type="xsd:string"/>
      <xsd:element name="prix" type="xsd:string"/>
      <xsd:element name="disponible" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Reservation">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:long" minOccurs="0"/>
      <xsd:element name="client" type="tns:Client"/>
      <xsd:element name="chambre" type="tns:Chambre"/>
      <xsd:element name="dateDebut" type="xsd:date"/>
      <xsd:element name="dateFin" type="xsd:date"/>
      <xsd:element name="preferences" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="createReservationRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="client" type="tns:Client"/>
        <xsd:element name="chambreId" type="xsd:long"/>
        <xsd:element name="dateDebut" type="xsd:date"/>
        <xsd:element name="dateFin" type="xsd:date"/>
        <xsd:element name="preferences" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="createReservationResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="reservation" type="tns:Reservation"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="getReservationRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="id" type="xsd:long"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="getReservationResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="reservation" type="tns:Reservation"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="updateReservationRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="id" type="xsd:long"/>
        <xsd:element name="client" type="tns:Client"/>
        <xsd:element name="chambreId" type="xsd:long"/>
        <xsd:element name="dateDebut" type="xsd:date"/>
        <xsd:element name="dateFin" type="xsd:date"/>
        <xsd:element name="preferences" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="updateReservationResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="reservation" type="tns:Reservation"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="deleteReservationRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="id" type="xsd:long"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="deleteReservationResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="deleted" type="xsd:boolean"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
